.main {
  position: relative;

  width: 180px;
  border: 1px solid grey;
  border-radius: 2px;

  font-size: 18px;
}

.main p {
  padding: 10px;
  cursor: pointer;
}

ul {
  border: 1px solid grey;
  border-radius: 2px;

  position: absolute;
  top: 100%;
  margin-top: 10px;

  background-color: #FFF;
  z-index: 10;
  width: 100%;

  left: -1px;
}

ul.hidden {
  display: none;
}

ul li {
  border-bottom: 1px solid grey;
  margin: 15px 10px;
  cursor: pointer;
}

ul li:hover {
  border-color: #FFF;
}


p::before, p::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 13px;
  border: 10px solid transparent;
  border-top: 10px solid #000;
}
p::after {
  border-top: 10px solid white;
  top: 8px;
}
