.main {
  position: relative;
  width: 150px;
  border: 2px solid grey;
  border-radius: 3px;
  z-index: 10;
}

.main * {
  user-select: none;
}


.label {
  cursor: pointer;
  padding: 10px 0;
}

.label p {
  font-size: 18px;
  text-align: center;
}



.popup {
  position: absolute;
  top: 100%;
  margin-top: 10px;

  width: 350px;
  border: 2px solid grey;
  border-radius: 3px;
  background-color: #FFF;

  left: -2px;
}

.popup.hidden {
  display: none;
}

.apply-btn {
  font-size: 20px;
  text-align: right;
  color: cornflowerblue;
  margin: 30px 15px 15px;
}

.apply-btn span {
  cursor: pointer;
}

.filter {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.popup::before, .popup::after {
  content: '';
  position: absolute;
  left: 100px;
  top: -18px;
  border: 10px solid transparent;
  border-bottom: 8px solid grey;
}
.popup::after {
  border-bottom: 8px solid white;
  top: -16px;
}
