<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Task</title>
  </head>

  <body>
    <div>
      <app-filter-group (filterClick)="onApplyFilterClick($event)"></app-filter-group>

      <div *ngIf="storeCards.length" id="store-cards-list">
        <div *ngFor="let storeCard of storeCards">
          <app-removable-store-card [card]="storeCard" (onRemoveCard)="onRemoveCardClick($event)"></app-removable-store-card>
        </div>
      </div>

      <p *ngIf="!storeCards.length" id="store-cards-empty-warning">
        There is no cards!
      </p>

      <div id="load-more-div">
        <div (click)="onLoadMoreBtnClick()" [style.display]="isLoadMoreBtnHidden ? 'none' : 'block'">
          <p>load more</p>
        </div>
      </div>
    </div>
  </body>
</html>

