body > div {
  max-width: 1160px;
  margin: 20px auto;
}

#store-cards-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

#store-cards-list > div {
  margin: 0 25px 25px 0;
}

#load-more-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#load-more-div p {
  text-align: center;
}

#load-more-div div {
  border: 1px solid darkgray;
  background-color: lightgrey;
  padding: 10px 15px;
  user-select: none;
  cursor: pointer;
}
